* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #131318;
    --secendary-color: #fff;
}

.container {
    padding: 0 100px;
    max-width: 1200px;
    margin: 0 auto;
}

/* header/////////////////////////////////////////// */
header {
    padding: 30px 0;
}

header h3 {
    color: var(--primary-color);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.h-i {
    display: none;

}

header i {
    font-size: 30px;
}

header span {
    color: #FF5400;
}

header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .main-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    gap: 50px;

}

header ul li {
    list-style: none;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

#home {
    color: #FF5400;

}


/* 
.banner-section input:focus{
    border: .5px solid #555;
     
} */

p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-section .main-column {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(254, 254, 255, 0.24)), url('./images/Images/Group banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 107px 0;
    border-radius: 18px;
}


.banner-section h2 {
    color: var(--secendary-color);
    text-align: center;
    font-size: 64px;
    font-weight: 800;
}

.banner-section P {
    color: var(--secendary-color);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0 58px 0;
}

.banner-section .flex-column1 {
    max-width: 650px;
    margin: 0 auto;

}

.banner-section input,
.banner-section select {
    width: 100%;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    /* outline: none; */


}

.banner-section .input-submit {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    padding: 15px;
    background-color: rgba(245, 239, 239, 0.502);
    border-radius: 10px;
}
.banner-section .flex-column2 {
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 1px 1px 7px;
	border-radius: 10px;
}
.input1 input {
    width: 165px;
}

.banner-section .input2 select {
    padding: 10px 91px 10px 10px;
}

.banner-section .input3 select {
    padding: 10px 68px 10px 10px;
}

.banner-section .input4 input {
    padding: 10px 36px 10px 70px;
}

.banner-section .input4 input {
    background: #FF5400;
    color: var(--secendary-color);
}

.banner-section select {
    border-right: 10px solid #fff;
    background-color: #fff;
}

.input5 {
    position: relative;
}

.input5::after {
    position: absolute;
    content: '\f002';
    left: 25%;
    top: 50%;
    font-family: fontawesome;
    transform: translateY(-50%);
    color: #fff;
}



/* popular-tours */

.popular-tours {
    padding: 100px 0;
}

.popular-tours img {
    width: 100%;
}

.popular-tours .main-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.sub-hading {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

p,
.popular-tours li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 7px 0;
}

.popular-tours ul {
    padding-left: 25px;
}

.popular-tours button {
    color: var(--secendary-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 25px;
    background-color: #FF5400;
    border-radius: 10px;
    margin-top: 15px;


}

/* grid-section */

.grid-section .flex-column {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.grid-section .flex {
    position: relative;
}

.grid-section h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex1 {
    grid-area: flex1;
}

.flex2 {
    grid-area: flex2;
}

.flex3 {
    grid-area: flex3;
}

.flex4 {
    grid-area: flex4;
}

.flex5 {
    grid-area: flex5;
}

.flex6 {
    grid-area: flex6;
}

.flex7 {
    grid-area: flex7;
}
.grid-section img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 1px 1px 19px;
}

.grid-section .flex-column5 {
    display: grid;
    grid-template-areas:
        "flex1 flex1 flex1 flex1 flex1 flex2 flex2 flex2 flex2 flex2"
        "flex3 flex3 flex3  flex4 flex4 flex4 flex4 flex4 flex5 flex5"
        " flex6 flex6 flex6 flex6  flex7 flex7 flex7 flex7 flex7 flex7"
    ;
    row-gap: 15px;
    column-gap: 20px;
    padding: 50px 0;
}

.grid-section h4 {
    color: var(--secendary-color);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}



/* choose-us-section */

.choose-us-section .main-column1 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title4 {
    color: var(--primary-color);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    padding: 10px 0;
}

.choose-us-section .main-column2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.choose-us-section .main-column2 .flex-column1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
    box-shadow: 1px 1px 20px;
}

.choose-us-section .main-column2 .flex-column2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
    box-shadow: 1px 1px 20px;

}

.choose-us-section .main-column3 .flex-column4 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
    max-width: 530px;
    margin: 0 auto;
    box-shadow: 1px 1px 20px;
}

.choose-us-section .main-column3 {
    margin-top: 20px;
}

.choose-us-section p {
    padding: 0;
}

.choose-us-section .f-main {
    margin-top: 50px;
}

/* discound-section///////////////////////////////////////////////////// */

.discound {
    padding: 100px 0;
}

.discound .main-column1 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h5 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.discound .m-flex {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.discound .m-flex p {
    padding: 0;
}

.discound i {
    margin-right: 5px;
    color: #FF5400;
    font-size: 20px;
}

.discound p {
    padding-bottom: 30px;
}

.discound .banner-fx {
    display: flex;
    background: url(./images/Images/Group\ 39.png);
    padding: 64px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.discound .banner-fx1 {
    display: flex;
    background: url(./images/Images/banner\ 2.png);
    padding: 64px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.discound button {
    color: var(--secendary-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 25px;
    background-color: #FF5400;
    border-radius: 10px;
    margin-top: 15px;


}

.discound .flex-columnn {
    width: 45%;
}

.discound .flex-column1 {
    width: 50%;
    background-color: rgba(245, 239, 239, 0.796);
    padding: 50px;
    margin-right: 51px;
    border-radius: 10px;
}

.discound .flex-column12 {
    width: 50%;
    background-color: rgba(245, 239, 239, 0.769);
    padding: 50px;
    margin-left: 51px;
    border-radius: 10px;
}

.discound .amet {
    padding-right: 100px;
}


/* plase-section */
/* 
.plase-section {
    padding: 100px 0;
} */

.plase-section .flex-column {
    width: 45%;
}

.plase-section .flex-column1 {
    width: 45%;
    background-image: linear-gradient(to bottom #1a0202 #fcc);
}

.plase-section .main-column {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;

}

video {
    width: 100%;
    border-radius: 10px;
}

.sub-hading {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.plase-section li {
    color: #000;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 7px 0;
}

.plase-section ul {
    padding-left: 20px;
}

.plase-section button {
    color: var(--secendary-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 25px;
    background-color: #FF5400;
    border-radius: 10px;
    margin-top: 15px;


}

.plase-section button {
    margin-top: 25px;
}

.plase-section h3 {
    padding-bottom: 25px;
}


/* contract */

.contract {
    padding: 100px 0;
}

.contract input {
    width: 95%;
    padding: 10px;
    margin-top: 25px;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.contract img {
    width: 100%;
}

.contract .main-column {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    align-items: center;
}

.contract .flex-column1 {
    width: 38%;
    box-shadow: 1px 1px 30px #000;
    border-radius: 10px;

}

.contract .fx {
    padding: 40px;
    border: 2px solid #FF5400;
    border-radius: 10px;
}

.contract .flex-column2 {
    width: 58%;
}

.contract .container {
    position: relative;
}

.contract button {
    color: var(--secendary-color);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    background-color: #FF5400;
    /* padding: 12px 25px; */
    /* border-radius: 10px; */
    /* margin-top: 15px; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    border: none;
}

.btn {
    background-color: #FF5400;
    margin-top: 40px;
    padding: 12px 0;
    border-radius: 10px;
}

.contract P {
    padding-bottom: 15px;
}

.input-1 {
    padding-top: 20px;
}

.transfroms h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.transfroms p {
    color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    padding: 0;

}

.transfroms {
    width: 250px;
    background-color: #FF5400;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    bottom: 88px;
    transform: rotate(-30deg);
    right: 118px;
}

/* extra//////////////////// */
.extra h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

@keyframes micro {
    from {
        left: 0;
    }

    to {
        left: 900px;
    }
}

.extra .main-column1 {
    background-color: #fcc;
    padding: 100px 20px 50px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px;
}

.extra .flex-column img {
    position: relative;
    animation: micro 5s ease-out .1s infinite alternate;
    width: 200px;
    margin-top: 50px;

}

.extra .flex-column1 img {
    width: 100%;

}

/* footer */

footer .main-column1,
.main-2 {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

footer h3 {
    color: var(--primary-color);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

footer span {
    color: #FF5400;
}

footer .logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

footer i {
    font-size: 20px;
    padding: 20px 0 30px 0;

}

.icon {
    display: flex;
    gap: 30px;
    justify-content: center;
}

footer img {
    width: 40px;
    height: 48px;
}

footer p {
    padding-top: 20px;
}



.main-2 {
    border-top: 1px solid rgba(255, 219, 219, 0.769);
    padding-bottom: 20px;
}

.slicknav_menu {
    display: none;
}


@media screen and (max-width: 992px) {
    .banner-section .input-submit {
        flex-direction: column;
        padding: 50px;
        row-gap: 25px;

    }

    .input1 input {
        width: 100%;
    }

    .banner-section .main-column {
        padding: 40px;
    }

    .container {
        padding: 0 60px;
    }

    .banner-section h2 {
        font-size: 55px;
    }

    .popular-tours .main-column {
        grid-template-columns: 1fr;
    }

    .popular-tours {
        padding: 80px 0;
    }

    .grid-section .flex-column5 {
        grid-template-areas:
            "flex1 flex2"
            "flex3 flex4"
            "flex5 flex6"
            "flex7 flex7"
        ;

    }

    .choose-us-section .main-column3 .flex-column4 {
        margin: 0 160px;
    }

    .plase-section .flex-column1 {
        width: 100%;
        margin-top: 50px;
    }

    .plase-section .main-column {
        flex-direction: column;
    }

    .plase-section .flex-column {
        width: 100%;
    }

    .contract .flex-column2 {
        width: 100%;
    }

    .contract .main-column {
        flex-direction: column;
        row-gap: 50px;
    }

    .contract .flex-column1 {
        width: 60%;
        margin-top: 50px;
    }

    .contract {
        padding: 60px 0;
    }

    .transfroms {
        bottom: 555px;
        transform: rotate(-37deg);
        right: 60px;
    }


    @keyframes micro {
        from {
            left: 0;
        }

        to {
            left: 60%;
        }
    }

    footer .main-column1,
    .main-2 {
        width: 100%;
    }

    header ul {
        display: none;
    }

    .slicknav_menu {
        display: block;
        position: absolute;
        right: 54px;
        top: 38px;
        background: transparent;
        margin-top: 39px;
    }

    .slicknav_btn {
        background: transparent;

    }

    .slicknav_menu .slicknav_icon {
        display: none;
    }

    .slicknav_collapsed {
        position: relative;

    }

    .slicknav_collapsed::after {
        position: absolute;
        content: '\f0c9';
        top: -35px;
        left: -4px;
        font-size: 35px;
        color: #173a69;
        font-family: fontawesome;
    }

    .slicknav_open {
        position: relative;
    }

    .slicknav_open::after {
        content: "\f2d3";
        position: absolute;
        font-family: fontawesome;
        top: -35px;
        left: -4px;
        font-size: 40px;
        color: #173a69;
    }

    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    .slicknav_nav .slicknav_txtnode {
        margin-left: 15px;
        font-size: 25px;
    }

    .slicknav_nav {
        background-color: #000;
        height: 100vh;
        padding: 20px 250px 0 20px;
        border-radius: 19px;
    }

    .input5::after {
        left: 40%;
    }

    .discound .amet {
        padding-right: 0px;
    }

    .transfroms {
        bottom: 68px;
        right: 81px;
    }

    .discound .flex-column12 {
        margin-left: 30px;
        padding: 50px 25px;
    }

    .discound .flex-column1{
        margin-right: 30px;
        padding: 50px 25px;
    }

    .discound .banner-fx {
        padding: 64px 0 30px;
       
    }

    .discound .banner-fx1{
        padding: 64px 0 30px;
       
    }
    .discound {
        padding: 49px 0;
    }
}

@media screen and (max-width: 768px) {
    .input5::after {
        left: 35%;
    }

    /* .transfroms {
        bottom: 544px;
        right: 81px;
    } */
}

@media screen and (max-width: 640px) {
    .choose-us-section .main-column3 .flex-column4 {
        margin: 0 103px;
    }
}

@media screen and (max-width: 580px) {
    /* 
    .slicknav_btn::after {
        top: -22px;
        left: 16px;
        font-size: 25px;
    } */

    .slicknav_open::after {
        top: -35px;
        left: 0px;
        font-size: 30px;
    }

    .slicknav_collapsed::after {
        top: -35px;
        left: 0px;
        font-size: 25px;
    }

    .slicknav_menu {
        display: block;
        position: absolute;
        right: 26px;
        top: 53px;
        background: transparent;
        margin-top: 23px;
    }

    .container {
        padding: 0 30px;
    }

    .slicknav_nav {
        background-color: #000;
        height: 100vh;
        padding: 20px 130px 0 20px;
    }


    header h3 {
        font-size: 22px;
    }

    header ul {
        display: none;
    }

    .banner-section .input-submit {
        row-gap: 15px;
        flex-direction: column;
        padding: 40px 20px;
    }

    .input1 input {
        width: 100%;
    }

    .banner-section h2 {
        font-size: 22px;
    }

    .banner-section .main-column {
        padding: 50px 30px;
    }

    .popular-tours .main-column {
        grid-template-columns: 1fr;
    }

    .popular-tours {
        padding: 50px 0;
    }

    p {
        font-size: 14px;
    }

    .sub-hading {
        font-size: 20px;
    }

    .grid-section .flex-column5 {
        padding-top: 30px;
        grid-template-areas:

            " flex1"
            " flex2"
            " flex3"
            " flex4"
            " flex5"
            " flex6"
            " flex7"
            " flex8"
            " flex9"

        ;
    }

    .choose-us-section .main-column2 {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .discound .amet {
        padding-right: 0px;
    }

    .discound .flex-columnn {
        width: 0%;
    }

    .discound .flex-column1 {
        width: 100%;
        padding: 25px;
        margin-right: 0px;
        border-radius: 10px;
        margin: 0 20px;
    }

    .discound .banner-fx {
        padding: 200px 0 30px 0;
        border-radius: 10px;
    }

    .discound .flex-column12 {
        width: 100%;
        margin-left: 0px;
        margin: 0 20px;
        padding: 25px;
    }

    .discound p {
        padding-bottom: 20px;
    }

    .flx p {
        padding: 0;
    }

    .discound .m-flex {
        row-gap: 9px;
    }

    .plase-section .main-column {
        flex-direction: column;
        row-gap: 50px;
    }

    .contract .main-column {
        flex-direction: column;
        row-gap: 50px;
    }

    .plase-section .flex-column1,
    .plase-section .flex-column,
    .contract .flex-column1,
    .contract .flex-column2 {
        width: 100%;
    }

    .discound {
        padding: 50px 0;
    }

    .transfroms {
        bottom: 38px;
        width: 140px;
        right: 39px;
    }

    .contract {
        padding: 50px 0;
    }

    footer .main-column1,
    .main-2 {
        width: 100%;
    }

    .transfroms p {
        font-size: 19px;
    }

    .transfroms h2 {
        font-size: 12px;
    }

    .extra .flex-column img {
        position: relative;
        animation: micro 5s ease-out .1s infinite alternate;
        width: 100px;
        margin-top: 50px;

    }


    @keyframes micro {
        from {
            left: 0;
        }

        to {
            left: 70%;
        }
    }

    .extra .main-column1 {
        padding: 42px 20px 27px 20px;
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 15px;
    }

    .extra h1 {
        font-size: 30px;
    }

    .choose-us-section .main-column3 .flex-column4 {
        margin: 0;
    }

    .discound button {
        font-size: 18px;
    }

    footer h3 {
        font-size: 21px;
    }

    .title4 {
        font-size: 20px;
    }

    .grid-section h4 {
        font-size: 20px;
    }

    .contract .flex-column1 {
        margin-top: 0px;
    }

    .input5::after {
        left: 37%;
    }

    .icon {
        gap: 15px;
    }

     .discound .banner-fx1 {
        padding: 200px 0 20px;
    }
  /*
    .discound .banner-fx {
        padding: 64px 0 20px;
    } */
}

@media screen and (max-width: 480px) {
    .input5::after {
        left: 33%;
    }

    .contract .fx {
        padding: 40px 20px;
    }
}